@import 'base';
@import 'animations';

.people .column {
  margin: 0 auto;

  .card {
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
  }

  .card-content {
    flex-direction: column;
    height: 100%;
  }

  .is-bottom {
    margin-top: auto;
  }
}

