@charset 'utf-8';

@import './fonts';

$fa-font-path: '../fonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';

@import 'bulma/sass/utilities/initial-variables';

$gold: #9ee71e;

$footer-color: #08235b;
$footer-border-color: #818078;
$footer-link-color: #4e5878;
$variant1-background-color: #09235a;
$variant2-background-color: rgba(0, 0, 0, .8);
$variant3-background-color: rgba(8, 36, 89, .5);
$variant4-background-color: $white;
$variant5-background-color: #08235b;
$variant6-background-color: #ebebeb;
$navbar-background-color: rgba(0, 0, 0, .95);
$button-padding-horizontal: 1.5em;
$control-height: 2.8em;
$tabs-border-bottom-color: #2b2c2e;
$tabs-link-color: #a9aaab;
$tabs-link-hover-border-bottom-color: $white;
$tabs-link-hover-color: $white;
$tabs-link-active-border-bottom-color: $white;
$tabs-link-active-color: $white;
$text: $black;
$title-color: #082459;
$title-strong-color: $title-color;
$subtitle-color: $title-color;
$subtitle-strong-color: $title-color;

$family-sans-serif: 'Montserrat', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@import 'bulma/bulma';

.is-vertical-center {
  align-items: center;
  display: inline-flex;
}

.lower {
  @include desktop {
    margin-top: 2em;
  }
}

.columns.is-reverse-mobile {
  @include mobile {
    display: flex;
    flex-direction: column-reverse;

    .column {
      width: 100%;
    }
  }
}

.button {
  text-transform: uppercase;
}

.title,
.subtitle {
  text-transform: uppercase;
}

// scss-lint:disable IdSelector
#particles {
  height: 100%;
  position: absolute;
  width: 100%;
}
// scss-lint:enable IdSelector

.header {
  background: linear-gradient($navbar-background-color, $navbar-background-color), url('../images/office.jpg');
  background-position: center 60%;
  background-size: 100%;
  height: 100%;

  .hero-body {
    padding: 6rem 1.5rem;
  }

  .tag {
    background: transparent;
  }

  .title {
    color: $white;
    font-size: 4em;

    @include mobile {
      font-size: 10vw;
    }
  }

  .subtitle {
    color: $gold;
    font-size: 2em;
  }
}

.navbar {
  .logo {
    margin: .5em;
    max-height: 5em;
  }

  .icon {
    margin-right: .25em;
  }

  .navbar-menu {
    font-family: 'Bank Gothic', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin-right: 2em;

    .navbar-item {
      background: transparent;
      font-size: smaller;
      text-transform: uppercase;
    }
  }
}

.is-variant1 {
  background-color: $variant1-background-color;
  color: $white;
  position: relative;

  &::before {
    background-image: url('../images/logo2.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: '';
    display: block;
    height: 400px;
    left: 0;
    margin: auto 200px;
    opacity: .05;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .title {
    color: $white;
  }
}

.is-variant2 {
  background: linear-gradient($variant2-background-color, $variant2-background-color), url('../images/landscape.jpg');
  background-position: center 60%;
  background-size: 100%;
  color: $white;

  .title,
  .subtitle {
    color: $white;
  }
}

.is-variant3 {
  background: linear-gradient($variant3-background-color, $variant3-background-color), url('../images/mountains.jpg');
  background-position: center;
  background-size: 100%;
  color: $white;

  .title,
  .subtitle {
    color: $white;
  }
}

.is-variant5 {
  background-color: $variant5-background-color;
  color: $white;

  .title,
  .subtitle {
    color: $white;
  }
}

.is-variant6 {
  background-color: $variant6-background-color;
  position: relative;

  &::before {
    background-image: url('../images/logo2.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: '';
    display: block;
    height: 400px;
    left: 0;
    margin: auto 200px;
    opacity: .05;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.contact {
  .hero {
    background: linear-gradient($navbar-background-color, $navbar-background-color), url('../images/office.jpg');
    background-position: center 90%;
    background-size: 100%;
    color: $white;
  }

  .button {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
  }
}

.footer {
  background-color: $footer-color;
  color: $footer-link-color;
  padding-bottom: 20px;
  padding-top: 10px;

  .logo {
    background-color: $footer-color;
    border: 0;
    height: 40px;
    margin-top: 10px;
    outline: 0;
    position: relative;
    text-align: center;

    &::before {
      background: linear-gradient(to right, transparent, $footer-border-color, transparent);
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 50%;
      width: 100%;
    }

    &::after {
      background: $footer-color url('../images/logo2.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      content: '';
      display: inline-block;
      height: 40px;
      position: relative;
      width: 70px;
    }
  }

  a {
    color: $footer-link-color;
    font-size: smaller;
    margin: 0 1em;
    text-transform: uppercase;

    &:hover {
      color: $white;
    }

    &.is-active {
      color: $white;
    }
  }
}

