@import 'anicollection/dist/anicollection';

// scss-lint:disable VendorPrefix

// Expand out the letters until they fade out completely
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin expanding-letters($name) {
  animation-name: $name;
  white-space: nowrap;
  overflow: hidden;

  @include keyframes($name) {
    0% {
      opacity: 1;
    }

    100% {
      letter-spacing: 100px;
      opacity: 0;
    }
  }

  @content;
}

.expanding-letters-fade-out {
  @include expanding-letters(expandingLettersFadeOut);
}

.expanding-letters-fade-in {
  @include expanding-letters(expandingLettersFadeIn);

  animation-direction: reverse;
}

// Hinge and stay swinging
@keyframes swing {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.swing {
  animation: swing 2.5s ease-in-out forwards infinite;
  transform-origin: 50% 0;
}
