{% extends "layout.njk" %}

{% set page = '404' %}

{% block head %}
   <meta name="description" content="Oh snap! Sorry, page not found." />
   <link rel="stylesheet" href="css/404.css">
   <title>Vihanti Digital Services</title>
{% endblock %}

{% block header %}
   <div class="container">
      <h2 class="subtitle is-spaced">Oh snap.</h2>
      <h1 class="title">Something is <span class="animated is-inline-block" data-animated="swing">broken</span></h1>
   </div>
{% endblock %}

{% block content %}
{% endblock %}

