{% extends "layout.njk" %}

{% set page = 'careers' %}

{% block head %}
   <meta name="description" content="As a business, Vihanti Digital Services is about more than making money.  We care about our customers and our communities." />
   <link rel="stylesheet" href="css/careers.css">
   <title>Careers | Vihanti Digital Services</title>
{% endblock %}

{% block header %}
   <h1 class="title">Careers</h1>
{% endblock %}

{% block content %}
   <section class="section is-fullwidth">
      <div class="columns is-centered">
         <div class="column is-8 animated no-opacity" data-animated="fadeIn">
            <div class="content">
               <p>As a business, Vihanti Digital Services is about more than making
               money (although we like that too!).  We care about our customers.
               We want to help them succeed through unleashed creative potential.
               More than that, we care about each other and our communities.
               That’s why Vihanti Digital Services holds a triple bottom line:</p>
            </div>
         </div>
      </div>

      <!--
      <div class="columns 3bl is-centered has-text-centered">
         <div class="column is-2">
            <img src="images/3bl-people.png" alt="People" />
            <h3 class="subtitle">People</h3>
         </div>
         <div class="column is-2">
            <img src="images/3bl-planet.png" alt="Planet" />
            <h3 class="subtitle">Planet</h3>
         </div>
         <div class="column is-2">
            <img src="images/3bl-profit.png" alt="Profit" />
            <h3 class="subtitle">Profit</h3>
         </div>
      </div>
      -->

      <div class="columns is-centered">
         <div class="column is-8 animated no-opacity" data-animated="fadeIn">
            <div class="content">
               <p>We are committed to investing in each other through
               on-the-job training opportunities.  We are devoted to our
               families which includes maintaining a healthy work/life balance.
               We are passionate about giving back to our community and our
               planet through volunteer events.  Vihanti Digital Services even
               donates a percentage of all profits to the causes that our
               employees care about most.  Above all, we treat each other and
               our customers with respect and integrity.</p>
            </div>
         </div>
      </div>
   </section>

   <section class="section is-fullwidth is-variant1">
      <div class="columns is-centered">
         <div class="column is-8">
            <div class="content">
               <h2 class="title">Our Values</h2>
            </div>

            <div class="columns">
               <div class="column">
                  <div class="box content animated no-opacity" data-animated="fadeInLeft">
                     <div class="level">
                        <div class="level-left">
                           <div class="level-item">
                              <h3 class="subtitle has-text-dark">Creativity</h3>
                           </div>
                        </div>
                        <div class="level-right">
                           <div class="level-item">
                              <span class="icon is-large">
                                 <i class="fas fa-lightbulb fa-2x"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                     <p>We challenge each other to think outside the box.  We
                     enjoy learning new things and pushing the limits of
                     innovation.</p>
                  </div>
               </div>
               <div class="column">
                  <div class="box content animated no-opacity" data-animated="fadeInUp">
                     <div class="level">
                        <div class="level-left">
                           <div class="level-item">
                              <h3 class="subtitle has-text-dark">Integrity</h3>
                           </div>
                        </div>
                        <div class="level-right">
                           <div class="level-item">
                              <span class="icon is-large">
                                 <i class="fas fa-award fa-2x"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                     <p>We do the right thing even when it costs us.  This
                     includes being honest with each other and with our
                     customers.</p>
                  </div>
               </div>
               <div class="column">
                  <div class="box content animated no-opacity" data-animated="fadeInRight">
                     <div class="level">
                        <div class="level-left">
                           <div class="level-item">
                              <h3 class="subtitle has-text-dark">Teamwork</h3>
                           </div>
                        </div>
                        <div class="level-right">
                           <div class="level-item">
                              <span class="icon is-large">
                                 <i class="fas fa-comments fa-2x"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                     <p>We work better together.  We appreciate the strengths of
                     our team mates and help each other to be more than we could
                     imagine.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="perks section is-fullwidth is-variant2">
      <div class="columns is-centered">
         <div class="column is-8">
            <div class="content">
               <h2 class="title">Our Perks</h2>
            </div>

            <div class="columns">
               <div class="column">
                  <div class="box content animated no-opacity" data-animated="fadeInLeft">
                     <div class="level">
                        <div class="level-left">
                           <div class="level-item">
                              <h3 class="subtitle has-text-dark">Training</h3>
                           </div>
                        </div>
                        <div class="level-right">
                           <div class="level-item">
                              <span class="icon is-large">
                                 <i class="fas fa-chalkboard-teacher fa-2x"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                     <p>We provide on-the-job training to help you take your
                     career to the next level.  Learn the latest technology from
                     those with decades of industry experience.</p>
                  </div>
               </div>
               <div class="column">
                  <div class="box content animated no-opacity" data-animated="fadeInUp">
                     <div class="level">
                        <div class="level-left">
                           <div class="level-item">
                              <h3 class="subtitle has-text-dark">Relationships</h3>
                           </div>
                        </div>
                        <div class="level-right">
                           <div class="level-item">
                              <span class="icon is-large">
                                 <i class="fas fa-users fa-2x"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                     <p>We take time to get to know each other, because we believe
                     that work doesn’t need to feel like work.</p>
                  </div>
               </div>
               <div class="column">
                  <div class="box content animated no-opacity" data-animated="fadeInRight">
                     <div class="level">
                        <div class="level-left">
                           <div class="level-item">
                              <h3 class="subtitle has-text-dark">Flexible Time Off</h3>
                           </div>
                        </div>
                        <div class="level-right">
                           <div class="level-item">
                              <span class="icon is-large">
                                 <i class="fas fa-home fa-2x"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                     <p>Our time off policy ensures that you have space for
                     recharging with family and friends.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="section is-fullwidth">
      <div class="columns is-centered">
         <div class="column is-8">
            Are you intrigued?  <a href="/contact.html">Contact us!</a>
         </div>
      </div>
   </section>
{% endblock %}

