{% extends "layout.njk" %}

{% set page = 'home' %}

{% block head %}
   <meta name="description" content="We are passionate about unleashing creativity for your business.  When you need a fresh approach, our global team of experienced tech professionals are here for you." />
   <link rel="stylesheet" href="css/index.css">
   <title>Vihanti Digital Services</title>
{% endblock %}

{% block header %}
   <div class="container">
      <h2 class="subtitle">&mdash; Creativity &mdash;</h2>
      <h1 class="title animated"
         data-animated="expanding-letters-fade-out"
         data-animated-reverse="expanding-letters-fade-in"
         data-offset="20">Unleashed</h1>
      <div class="tag is-rounded">passionate about unleashing creativity for your business</div>
   </div>
{% endblock %}

{% block content %}
   <section class="section is-fullwidth is-variant1">
      <div class="columns is-centered">
         <div class="column is-8">
            <div class="columns">
               <div class="column has-text-centered">
                  <h2 class="title">What we offer</h2>
                  <p>When you need a fresh approach, our global team of
                  experienced tech professionals are here for you. We believe
                  that the latest technology and modern designs should be
                  accessible to businesses of all sizes and budgets.</p>
                  <p class="is-italic">Let us unleash creativity for you!</p>
               </div>
            </div>

            <div class="columns services">
               <div class="column">
                  <div class="box content animated" data-animated="fadeInLeft">
                     <div class="level">
                        <div class="level-left">
                           <div class="level-item">
                              <h3 class="subtitle has-text-dark">Design</h3>
                           </div>
                        </div>
                        <div class="level-right">
                           <div class="level-item">
                              <span class="icon is-large">
                                 <i class="fas fa-pencil-ruler fa-2x"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                     <p>
                     We want to help you succeed in the marketplace with a fresh design
                     that makes your message shine. We specialize in creative logos, modern
                     websites, and professional business cards to declare your heart to the
                     world.
                     </p>
                     <p>
                        <span class="icon is-medium">
                           <a href="/services.html"><i class="fas fa-long-arrow-alt-right fa-2x"></i></a>
                        </span>
                     </p>
                  </div>
               </div>
               <div class="column lower">
                   <div class="box content has-background-info has-text-white animated" data-animated="fadeInUp">
                     <div class="level">
                        <div class="level-left">
                           <div class="level-item">
                              <h3 class="subtitle">Craft</h3>
                           </div>
                        </div>
                        <div class="level-right">
                           <div class="level-item">
                              <span class="icon is-large">
                                 <i class="fas fa-tools fa-2x"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                     <p>
                     With decades of experience developing websites using a variety of web
                     platforms, we love making our craft work for you. From business pages
                     to full e-commerce websites, let us make your design come to life.
                     </p>
                     <p>
                        <span class="icon is-medium">
                           <a class="has-text-white" href="/services.html"><i class="fas fa-long-arrow-alt-right fa-2x"></i></a>
                        </span>
                     </p>
                  </div>
               </div>
               <div class="column">
                  <div class="box content animated" data-animated="fadeInRight">
                     <div class="level">
                        <div class="level-left">
                           <div class="level-item">
                              <h3 class="subtitle has-text-dark">Solve</h3>
                           </div>
                        </div>
                        <div class="level-right">
                           <div class="level-item">
                              <span class="icon is-large">
                                 <i class="fas fa-lightbulb fa-2x"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                     <p>
                     We stay ahead of the technology wave, so that you don’t have to.  We
                     pride ourselves in creatively using the latest technology to deliver a
                     better experience for your customers and greater profit for your
                     business.
                     </p>
                     <p>
                        <span class="icon is-medium">
                           <a href="/services.html"><i class="fas fa-long-arrow-alt-right fa-2x"></i></a>
                        </span>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="questions section is-fullwidth is-variant2">
      <div class="columns is-centered">
         <div class="column is-8">
            <div class="content has-text-centered">
               <h2 class="title">How we can help you</h2>
               <p>
                  <span class="tag is-rounded is-medium">Ask yourself these questions</span>
               </p>
            </div>

            <div class="columns is-centered">
               <div class="column box is-8">
                  <div class="questions-carousel hero">
                     <div class="hero-body has-text-centered">
                        <div class="slick">
                           <div>Do we need a fresh design for our business message?</div>
                           <div>Do we lack the skills and resources to solve this problem?</div>
                           <div>Are we pressed for time?</div>
                           <div>Do we have someone we can trust?</div>
                           <div>Are we facing a challenge to our business potential that could be solved with technology?</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="tech section is-fullwidth is-variant1">
      <div class="columns is-centered">
         <div class="column is-8">
            <div class="content has-text-centered">
               <h2 class="title">How we do it</h2>
               <p>
                  Here's a sampling of some of our favorite technologies:
               </p>
            </div>

            <div class="columns logos">
               <div class="column has-text-centered animated" data-animated="fadeIn">
                  <a href="https://wordpress.org/">
                     <div class="box is-vertical-center">
                        <img src="images/tech/wordpress.png" alt="Wordpress" />
                     </div>
                  </a>
               </div>
               <div class="column has-text-centered animated" data-animated="fadeIn">
                  <a href="https://www.shopify.com/">
                     <div class="box is-vertical-center">
                        <img src="images/tech/shopify.png" alt="Shopify" />
                     </div>
                  </a>
               </div>
               <div class="column has-text-centered animated" data-animated="fadeIn">
                  <a href="https://nodejs.org/">
                     <div class="box is-vertical-center">
                        <img src="images/tech/nodejs.png" alt="Node.js" />
                     </div>
                  </a>
               </div>
               <div class="column has-text-centered animated" data-animated="fadeIn">
                  <a href="https://www.python.org/">
                     <div class="box is-vertical-center">
                        <img src="images/tech/python.png" alt="Python" />
                     </div>
                  </a>
               </div>
               <div class="column has-text-centered animated" data-animated="fadeIn">
                  <a href="https://www.scala-lang.org/">
                     <div class="box is-vertical-center">
                        <img src="images/tech/scala.png" alt="Scala" />
                     </div>
                  </a>
               </div>
            </div>

            <p class="has-text-centered">
               <a href="/services.html" class="button is-rounded is-small is-info">Click here to learn more</a>
            </p>
         </div>
      </div>
   </section>

   <section class="contact section is-fullwidth">
      <div class="columns is-centered">
         <div class="column is-8 hero">
            <div class="hero-body">
               <div class="columns is-vcentered">
                  <div class="column is-size-4">
                    Let us help unleash creativity for your business!
                  </div>
                  <div class="column has-text-right">
                     <a href="/contact.html" class="button is-rounded is-dark is-small">Click here to get started</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="career section is-fullwidth is-variant3">
      <div class="columns is-centered">
         <div class="column content is-6 is-size-6 has-text-centered">
            <p>Are you interested in joining our team of designers, programmers,
            and engineers dedicated to unleashing creativity for our clients?</p>

            <p>
               <a href="/careers.html" class="button is-rounded is-small is-info">Click here to learn more</a>
            </p>
         </div>
      </div>
   </section>
{% endblock %}

