{% extends "layout.njk" %}

{% set page = 'services' %}

{% block head %}
   <meta name="description" content="Whether you need a refreshed design for your brand, a custom crafted website, or solutions to your business's most challenging problems, we bring creativity and industry experience." />
   <link rel="stylesheet" href="css/services.css">
   <title>Services | Vihanti Digital Services</title>
{% endblock %}

{% block content %}
   <section class="section is-fullwidth">
      <div class="columns is-centered">
         <div class="column is-8">
            <h1 class="title">Services</h1>

            <div class="columns">
               <div class="column animated no-opacity" data-animated="fadeInLeft">
                  <h2 class="subtitle">Design</h2>
                  <p>Unleashing creativity is serious business. We want your
                  design to visually capture the heart of your business. That’s
                  why we enjoy sitting down with you over a cup of coffee or
                  tea (virtually if need be) to understand the soul of your
                  business before we start.  Plus with 8-10 initial designs and
                  unlimited revisions, we won’t stop until you’re happy.</p>
               </div>
               <div class="column is-paddingless">
                  <div class="logos animated no-opacity" data-animated="fadeIn">
                     <div class="columns is-flex-mobile is-vcentered has-text-centered is-marginless is-paddingless">
                        <div class="column is-paddingless">
                           <a href="https://www.behance.net/gallery/82064429/Buddies-Restaurant"><img src="images/designs/buddies.jpg" alt="Buddies" /></a>
                        </div>
                        <div class="column is-paddingless">
                           <a href="https://www.behance.net/gallery/82816061/Logo-Design-for"><img src="images/designs/upnjoe.jpg" alt="Up 'n Joe" /></a>
                        </div>
                     </div>
                     <div class="columns is-flex-mobile is-vcentered has-text-centered is-marginless is-paddingless">
                        <div class="column is-paddingless">
                           <a href="https://www.behance.net/gallery/82062801/Art-Alliance"><img src="images/designs/stlouisartalliance.jpg" alt="St. Louis Art Alliance" /></a>
                        </div>
                        <div class="column is-paddingless">
                           <a href="https://www.behance.net/gallery/82207687/Tree-for-Life-Mobile-UI-Design"><img src="images/designs/tfl.png" alt="Tree for Life" /></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="columns is-reverse-mobile">
               <div class="column">
                  <div class="logos animated no-opacity" data-animated="fadeIn">
                     <div class="columns is-flex-mobile is-vcentered has-text-centered">
                        <div class="column">
                           <a href="https://www.wordpress.org"><img src="images/tech/wordpress.png" alt="Wordpress" /></a>
                        </div>
                        <div class="column">
                           <a href="https://www.shopify.com"><img src="images/tech/shopify.png" alt="Shopify" /></a>
                        </div>
                     </div>
                     <div class="columns is-flex-mobile is-vcentered has-text-centered">
                        <div class="column">
                           <a href="https://www.discourse.org"><img src="images/tech/discourse.png" alt="Discourse" /></a>
                        </div>
                        <div class="column">
                           <a href="https://www.nodebb.org"><img src="images/tech/nodebb.png" alt="NodeBB" /></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="column animated no-opacity" data-animated="fadeInRight">
                  <h2 class="subtitle">Craft</h2>
                  <p>We take pride in our craft. We believe that modern
                  technology ought to be available for small and large
                  businesses alike. Whether you need a website to promote your
                  business or an e-commerce site to sell your products, we have
                  the industry experience to make it happen at a price to match
                  your budget.</p>
               </div>
            </div>
            <div class="columns">
               <div class="column animated no-opacity" data-animated="fadeInLeft">
                  <h2 class="subtitle">Solve</h2>
                  <p>We know the fast pace of technology can be overwhelming.
                  We’re here to help. Although it’s true that we enjoy an
                  occasional nerd session, our years of experience has given us
                  a pragmatic approach.  By listening carefully to what
                  troubles your business most, we creatively evaluate the vast
                  array of technology options to deliver real world value to
                  your business at an affordable price.</p>
               </div>
               <div class="column">
                  <div class="logos animated no-opacity" data-animated="fadeIn">
                     <div class="columns is-vcentered is-flex-mobile has-text-centered">
                        <div class="column">
                           <a href="https://www.python.org"><img src="images/tech/python.png" alt="Python" /></a>
                        </div>
                        <div class="column">
                           <a href="https://www.nodejs.org"><img src="images/tech/nodejs.png" alt="Node.js" /></a>
                        </div>
                     </div>
                     <div class="columns is-vcentered is-flex-mobile has-text-centered">
                        <div class="column">
                           <a href="https://www.scala-lang.org"><img src="images/tech/scala.png" alt="Scala" /></a>
                        </div>
                        <div class="column">
                           <a href="https://www.digitalocean.com"><img src="images/tech/digitalocean.png" alt="DigitalOcean" /></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="section is-fullwidth">
      <div class="columns is-centered">
         <div class="column is-8 animated no-opacity" data-animated="fadeInUp">
            <h2 class="subtitle">Honesty matters</h2>
            <p>We’re passionate about helping your business grow.  Even if you’re not
            sure about Vihanti Digital Services, let’s talk.  We’ll be honest with
            you, even if that means pointing you towards another company that might
            be a better fit for your needs.</p>
         </div>
      </div>
   </section>

   <section class="section is-fullwidth">
      <div class="columns is-centered">
         <div class="column content is-8 is-small">
            * Names and logos of services and frameworks used by Vihanti
            Digital Services are trademarks or registered trademarks of their
            respective organizations, and their use here does not imply an
            endorsement from these organizations.
         </div>
      </div>
   </section>
{% endblock %}

