<footer class="footer has-text-centered">
   <hr class="logo" />
   <div class="content">
      <a href="/" {% if page == 'home' %}class="is-active"{% endif %}>Home</a> |
      <a href="/about.html" {% if page == 'about' %}class="is-active"{% endif %}>About</a> |
      <a href="/services.html" {% if page == 'services' %}class="is-active"{% endif %}>Services</a> |
      <a href="/careers.html" {% if page == 'careers' %}class="is-active"{% endif %}>Careers</a> |
      <a href="/contact.html" {% if page == 'contact' %}class="is-active"{% endif %}>Contact</a>
   </div>
   <div class="content is-small has-text-white">
      &copy; Vihanti Digital Services
   </div>
</footer>

