<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://kit.fontawesome.com/52e1736676.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156744028-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156744028-1');
    </script>

    <!-- inject:head:html -->
    <!-- endinject -->

    <script async src="scripts/app.js"></script>

    {% block head %} {% endblock %}
  </head>
  <body>
    <section class="welcome hero has-text-centered">
      <div class="hero-head">
         {% include "partials/navigation.njk" %}
      </div>
      <div class="hero-body">
        {% block header %} {% endblock %}
      </div>
    </section>

    {% block content %} {% endblock %}

    {% block footer %}
      {% include "partials/footer.njk" %}
    {% endblock %}
  </body>
</html>
